<div class="hero">
  <div class="hero__content">
    <h1 class="hero__headline">Datenschutz</h1>
    <p>The lambs have passed through the gate. It eats you, starting with your bottom. Any self-respecting demon should be living in a pit of filth or a nice crypt. She is the slayer. Your futures are murky; you'd do well to heed my...I'm still on speakerphone, aren't I?<br>
    I figure, if I'm responsible for the end of the world, I get to name it. Who's calling me? Everybody I know lives here. I saw their production of 'Giselle' in 1890. I wept like a baby, and I was evil! Somebody put her tiny little thinking cap on! My Uncle Rory was the stodgiest taxidermist you've ever met by day. And you know the monkey's just,'I mock you with my monkey pants!' And what's with all the carrots? How did your brain even learn human speech? I'm just so curious. Shh! No programs, don't use that word. Just be Buffy.</p>
  </div>
</div>
