<div class="hero">
  <div class="hero__content">
    <h1 class="hero__headline">podcasterinnen.org</h1>
    <h3>Frauen* und Technik. Frauen* und Inhalte.<br>
    Frauen hinter dem Mikro und auf der Bühne.</h3>
  </div>
</div>
